.container1 {
  display: flex;
  justify-content: space-evenly;
}

.main {
  padding: 20px;
  margin-bottom: 50px;
}

.container2 {
  display: flex;
  justify-content: center;
}

.item {
  flex-grow: 1;
}

.push {
  margin-left: auto;
}

.curr {
  flex-shrink: 1;
}
