.container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdownPlace {
  width: 300px;
  margin: 5px;
}

.dropdownSecondary {
  width: 150px;
  margin: 5px;
}

.datePicker {
  margin: 5px;
}

.switch {
  margin: 5px;
}

@media (max-width: 520px) {
  .container1 {
    flex-direction: column;
    align-content: center;
  }
  .dropdownPlace {
    width: 80vw;
  }
  .container2 {
    flex-direction: column;
    align-content: center;
  }
}

.main {
  padding: 20px;
  margin-bottom: 50px;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  flex-grow: 1;
}

.push {
  margin-left: auto;
}

.curr {
  flex-shrink: 1;
}
